input[type=text]{
    padding:5px;
    border: 3px solid lightsalmon;
    border-radius: 5px;
    width: 320px;
    height: 40px;
}

input[type=password]{
    padding:5px;
    border: 3px solid lightsalmon;
    border-radius: 5px;
    width: 320px;
    height: 40px;
}

.right {
    float: right;
    flex-flow: row;
    height:90px;
    width: 500px;
    border: 3px;
    padding: 60px 0;
  }

  .left {
      position: absolute;
    float: left;
    border: 3px;
    padding: 60px 135px;
  }

  .center {
    margin: auto;
    width:30%;
    border: 3px;
    padding: 10px;
    display:block;
  }
  

  hr{
      width: auto;
      
  }


